/* Styles for h1 element */
h1 {
  color: gold;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

/* Styles for the scoreboard container */
.scoreboard-container {
  max-width: 575px;
  max-height: 385px;
  background: #4c1d95;
  border-radius: 12px;
  border: 3px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 68px 82px;
  gap: 100px;
  text-align: center;
  padding-right: 90px;
  margin: auto; /* Centers scoreboard horizontally */
}

/* Styles for rows within the container */
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Styles for h1 within col-header class */
.col-header h1 {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  text-align: center;
  color: white;
}

/* Styles for col-display class */
.col-display {
  width: 155px;
  height: 120px;
  background: #080001;
  border-radius: 5px;
  font-family: "Silkscreen", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 110px;
  text-align: center;
  color: #f94f6d;
}

/* Styles for col-points class */
.col-points {
  margin-top: 25px;
  display: flex;
  gap: 10px;
}

/* Styles for images-container class */
.images-container {
  border: 10px solid green;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px; /* Pushes container down. This is done to create space between the header and the container */
}

/* Styles for image classes */
.paper-img,
.rock-img,
.scissors-img {
  width: 120px;
  height: 100px;
}

/* Styles for btns-container class */
.btns-container {
  display: flex;
  justify-content: space-evenly;
  border: 10px solid red;
  padding-top: 30px;
}

/* Styles for rock-btn class */
.rock-btn {
  font-size: 50px;
  margin-left: 150px;
  margin-bottom: 15px;
  transition-duration: 0.5s; /* Determines speed of "hover" effect. */
  cursor: pointer;
}

/* Styles for hover effect on buttons */
.rock-btn:hover,
.scissors-btn:hover,
.paper-btn:hover {
  background-color: #563e8e;
}

/* Styles for active state of rock-btn */
.rock-btn:active {
  background-color: #563e8e;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Styles for paper-btn class */
.paper-btn {
  font-size: 50px;
  margin-left: 200px;
}

/* Styles for scissors-btn class */
.scissors-btn {
  font-size: 50px;
  margin-left: 120px;
  margin-right: 115px;
}
